{% extends "_base.html" %}

{% block title %}{{ game.name }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/games.css") }}">
{% endblock %}

{% block content %}
    <section id="main" class="grid-margins">
        <div id="left"></div>
        <div id="centre">
            <h1>{{ game.name }}</h1>
            <div class="banner centred">
                <img src="{{ game.background_image }}" alt="<strong>{{ game.title }}</strong> background image">
            </div>
            <div id="description">
                <h3>Description</h3>
                {{ game.description|safe }} <!-- For some reason, rawg wraps their game descriptions in p tags. -->
            </div>
            <div id="reviews">
                <h3>Reviews</h3>
                <ul>
                    <li>Metacritic: {{ game.metacritic }}</li>
                    <li>Average User Rating: {{ game.rating }}</li>
                    <li>Review count: {{ game.ratings_count }}</li>
                </ul>
            </div>
            <div id="see-also">
                <!-- This is a list of games that this game is a parent of (or child of). -->
                <h3>See Also</h3>
                <ul>
                    {% for game in game.parent_games %}
                        <li>
                            <a href="{{ url_for("games.game", slug=game.slug) }}">
                                {{ game.name }}
                            </a>
                        </li>
                    {% endfor %}
                    {% for game in game.child_games %}
                        <li>
                            <a href="{{ url_for("games.game", slug=game.slug) }}">
                                {{ game.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="stores">
                <h3>Stores</h3>
                <ul>
                    {% for store in game.stores %}
                        <li>
                            <a href="https://{{ store.store.domain }}">
                                {{ store.store.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="right">
            <h2>Details</h2>
            <table>
                <tr>
                    <th>Keys</th>
                    <td>
                        <ul>
                            <li>Id: {{ game.id }}</li>
                            <li>Slug: {{ game.slug }}</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>Genres</th>
                    <td>
                        <ul>
                            {% for genre in game.genres %}
                                <li>{{ genre.name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>Platforms</th>
                    <td>
                        <ul>
                            {% for platform in game.platforms %}
                                <li>{{ platform.platform.name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>Developers</th>
                    <td>
                        <ul>
                            {% for developer in game.developers %}
                                <li>{{ developer.name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>Publishers</th>
                    <td>
                        <ul>
                            {% for publisher in game.publishers %}
                                <li>{{ publisher.name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </table>
            <div id="age-rating">
                <table id="appropriate-audiences">
                    <tr>
                        <th>Audience</th><th>Appropriate</th>
                    </tr>
                    <tr>
                        <td>Everyone</td>
                        <td>
                            <label>
                                <input type="checkbox" autocomplete="off" onclick="return false;" readonly {{ "checked" if game.esrb_rating.slug == "everyone" }}>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>Everyone 10+</td>
                        <td>
                            <label>
                                <input type="checkbox" autocomplete="off" onclick="return false;" readonly {{ "checked" if game.esrb_rating.slug == "everyone-10-plus" }}>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>Teen</td>
                        <td>
                            <label>
                                <input type="checkbox" autocomplete="off" onclick="return false;" readonly {{ "checked" if game.esrb_rating.slug == "teen" }}>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>Mature</td>
                        <td>
                            <label>
                                <input type="checkbox" autocomplete="off" onclick="return false;" readonly {{ "checked" if game.esrb_rating.slug == "mature" }}>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>Adults Only</td>
                        <td>
                            <label>
                                <input type="checkbox" autocomplete="off" onclick="return false;" readonly {{ "checked" if game.esrb_rating.slug == "adults-only" }}>
                            </label>
                        </td>
                    </tr>
                </table>
                {% if game.esrb_rating.slug == "rating-pending" %}
                    <p>
                        <strong>Rating Pending</strong>
                        <br>
                        This game has not yet been rated by the ESRB.
                    </p>
                {% endif %}
                <div id="age-rating-image">
                    {% if game.esrb_rating %}
                        <img src="{{ url_for("static", filename="img/ratings/" + game.esrb_rating.slug + ".svg") }}" alt="{{ game.esrb_rating.name }}">
                    {% else %}
                        <img src="{{ url_for("static", filename="img/ratings/rating-pending.svg") }}" alt="Rating Pending">
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}