<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link type="text/css" id="colours" rel="stylesheet" href="{{ url_for("static", filename="css/_colours.css") }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="css/_base.css") }}">
    <script type="application/javascript" src="{{ url_for("static", filename="js/_base.js") }}"></script>
    <script type="application/javascript" src="https://kit.fontawesome.com/a7e9f794eb.js" crossorigin="anonymous"></script>
    <script type="application/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script type="application/javascript" src="https://www.google.com/recaptcha/api.js?render=reCAPTCHA_{{ reCapchaSiteKey }}"></script>
    {% block styles %}{% endblock %}
    {% block scripts %}{% endblock %}
</head>
<body>
<header class="grid-margins">
    <div id="header-left">
        <div id="school-logo" class="school-logo">
            <img src="{{ url_for("static", filename="img/school-logo.png") }}" alt="School Logo">
        </div>
    </div>
    <div id="header-centre">
        <nav>
            <div>
                <a href="{{ url_for("info.index") }}">Home</a>
            </div>
            <div>
                <a href="{{ url_for("games.index") }}">Games</a>
            </div>
            <div>
                <a href="{{ url_for("info.about") }}">About</a>
            </div>
            <!--
            <div>  Tests is commented out as it is not needed in production
                <a href="{{ url_for("tests.index") }}">Tests</a>
            </div>
            -->
        </nav>
    </div>
    <div id="header-right">
        <div id="theme-selector">
            <label for="theme-selector-checkbox">Dark Mode</label>
            <input id="theme-selector-checkbox" type="checkbox">
        </div>
    </div>
</header>
<main>
    <div id="age-modal" class="modal">
        <div class="modal-content">
            <p>Before you can access this site, we need to know your age.</p>
            <div>
                <label class="centre-flex"><input id="age-input" type="date" placeholder="Enter your date of birth."></label>
            </div>
            <button id="age-submit">Submit</button>
        </div>
    </div>
    {% block content %}{% endblock %}
</main>
<footer>
    <div id="site-info">
        <p><a href="https://github.com/Yuki-42/IA3/blob/master/LICENSE">Licensed</a> Kyle Pannan {{ year }}</p>
    </div>
    <img id="footer-logo" src="{{ url_for("static", filename="img/gov-logo.svg") }}" alt="QLD Government Logo">
</footer>
</body>
</html>