body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: start;
    align-content: start;
}

header {
    min-height: 50px;
    background: lightcyan;
}

footer {
    min-height: 50px;
    background: PapayaWhip;
}