@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css?family=JetBrains Mono");

:root {
    --primary-background: #ffffff;
    --secondary-background: #f1f1f1;
    --code-normal: #cccccc;
    --code-yellow: #f5d342;
    --yellow-1: #dbb700;
    --yellow-2: #ccaa00;
    --text-black: #000000;
    --text-white: #ffffff;
    --green-1: #034320;
    font-family: "Open Sans", sans-serif;
}

/* Background Colour Classes */
.bg-primary {
    background-color: var(--primary-background);
}

.bg-secondary {
    background-color: var(--secondary-background);
}

.bg-yellow-1 {
    background-color: var(--yellow-1);
}

.bg-yellow-2 {
    background-color: var(--yellow-2);
}

.bg-green-1 {
    background-color: var(--green-1);
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    min-height: 12vh;
    background: var(--green-1);
}

header nav {
    float: left;
    padding-top: 4vh;
    padding-bottom: 4vh;
    margin-left: -1vw;
    display: flex;
    flex-direction: row;
}

header nav div a {
    color: var(--text-white);
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
    font-size: larger;
}

footer {
    background: var(--yellow-1);
    text-align: center;
    padding: 2em 0;  /* top right bottom left */

    max-height: max-content;
}

footer #site-info {
    margin-top: 0.6vh;
    margin-bottom: 0.2vh;
    font-size: 1.2em;
    font-weight: bold;
}

footer img {
    width: 20vw;
    height: 20vh;
    padding: 0 0;
    margin: -6vh 0 -3vh;
    border: none;
}

main {
    flex: 1;
}

code, pre {
    background-color: var(--code-normal);
    border-radius: 5px;
    padding: 0.2em;
    font-family: "JetBrains Mono", monospace;
    font-size: small;
}

.gallery {
    display: grid;
    margin: 2em 0 2em 0;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

.gallery-item {
    background-color: var(--yellow-1);
    border-radius: 5px;
    padding: 1em;
    text-align: center;
    width: auto;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
}

.grid-margins {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;  /* 3 columns, left and right are for shoulder space, middle is main */
}

.centre {
    text-align: center;
}