@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css?family=JetBrains Mono");

:root {
    font-family: "Open Sans", sans-serif;
}

/* Background Colour Classes */
.bg-primary {
    background-color: var(--primary-background);
}

.bg-secondary {
    background-color: var(--secondary-background);
}

.bg-yellow-1 {
    background-color: var(--yellow-1);
}

.bg-yellow-2 {
    background-color: var(--yellow-2);
}

.bg-green-1 {
    background-color: var(--green-1);
}

body {
    min-height: 101vh;
    height: 104%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    min-height: 8vh;
    background: var(--green-1);
}

header nav {
    float: left;
    padding-top: 4vh;
    padding-bottom: 4vh;
    margin-left: -1vw;
    display: flex;
    flex-direction: row;
}

header nav div a {
    color: var(--text-secondary);
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
    font-size: larger;
}

footer {
    justify-content: center;
    gap: 4em;
    background: var(--yellow-1);
    text-align: center;
    padding: 2em 0;  /* top right bottom left */
    max-height: min-content;
    min-height: 8vh;
}

footer #site-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8em;
    font-weight: bold;
}

footer img {
    width: 15vw;
    height: 15vh;
    padding: 0 0;
    margin: -6vh 0 -3vh;
    border: none;
}

main {
    flex: 1;
}

code, pre {
    background-color: var(--code-normal);
    border-radius: 5px;
    padding: 0.2em;
    font-family: "JetBrains Mono", monospace;
    font-size: small;
}

.gallery {
    display: grid;
    margin: 2em 0 2em 0;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

.gallery-item {
    background-color: var(--yellow-1);
    border-radius: 5px;
    padding: 1em;
    text-align: center;
    width: auto;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
}

.grid-margins {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;  /* 3 columns, left and right are for shoulder space, middle is main */
}

.centre {
    text-align: center;
}

#theme-selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--text-secondary);
    margin: 1em 0;
}

#theme-selector input {
    align-self: center;
    -webkit-appearance: none;
    position: relative;
    background-color: var(--code-normal);
    width: 120px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
                0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: all 0.7s ease;
}

#theme-selector input::before {
    content: "";
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 20px;
    transform: scale(0.8);
    transition: all 0.7s ease;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
                0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
#theme-selector input:checked::before {
    background-color: #fff;
    left: 82px;
}

#theme-selector input:checked {
    background-color: var(--yellow-1);
}