@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css?family=JetBrains Mono");

:root {
    font-family: "Open Sans", sans-serif;
    background-color: var(--primary-background);
    color: var(--text-primary);
    transition: background-color 0.3s, color 0.3s;
}

/* Background Colour Classes */
.bg-primary {
    background-color: var(--primary-background);
}

.bg-secondary {
    background-color: var(--secondary-background);
}

.bg-yellow-1 {
    background-color: var(--yellow-1);
}

.bg-yellow-2 {
    background-color: var(--yellow-2);
}

.bg-green-1 {
    background-color: var(--green-1);
}

.black-text {
    color: var(--text-black);
}

body {
    min-height: 101vh;
    height: 104%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    min-height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    float: left;
    margin-left: -1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav div a {
    color: var(--text-secondary);
    text-decoration: none;
    padding: 0.5em 1em;
    font-size: larger;
    text-align: center;
}

footer {
    justify-content: center;
    gap: 4em;
    text-align: center;
    padding: 1em 0; /* top right bottom left */
    max-height: min-content;
    min-height: 4vh;
}

footer #site-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8em;
    font-weight: bold;
}

footer img {
    width: 15vw;
    height: min-content;
    padding: 0 0;
    margin: 0 0 0 0;
    border: none;
}

main {
    flex: 1;
}

code, pre {
    background-color: var(--code-normal);
    border-radius: 5px;
    padding: 0.2em;
    font-family: "JetBrains Mono", monospace;
    font-size: small;
}

.gallery {
    display: grid;
    margin: 2em 0 2em 0;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

.gallery-item {
    background-color: var(--yellow-1);
    /* Add a transition for the colour on hover */
    transition: background-color 0.3s;
    border-radius: 5px;
    padding: 1em;
    text-align: center;
    width: auto;
}

.gallery-item:hover {
    background-color: var(--yellow-2);
}


.gallery-item img {
    max-width: 100%;
    height: auto;
}

.grid-margins {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr; /* 3 columns, left and right are for shoulder space, middle is main */
}

.centre {
    text-align: center;
}

#theme-selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--text-secondary);
    margin: 1em 6vw 1em 0;
}

#theme-selector input {
    align-self: center;
    -webkit-appearance: none;
    position: relative;
    background-color: var(--code-normal);
    width: 120px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: all 0.7s ease;
}

#theme-selector input::before {
    content: "";
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 20px;
    transform: scale(0.8);
    transition: all 0.7s ease;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

#theme-selector input:checked::before {
    background-color: #fff;
    left: 82px;
}

#theme-selector input:checked {
    background-color: var(--yellow-1);
}

@-webkit-keyframes red-pulse {
    0% {
        color: red;
    }
    50% {
        color: inherit;
    }
    100% {
        color: red;
    }
}

@keyframes red-pulse {
    0% {
        color: red;
    }
    50% {
        color: var(--text-black);
    }
    100% {
        color: red;
    }
}

.error {
    animation: red-pulse 0.7s 3;
    background-color: inherit;
}