#main {
    display: grid;
    grid-template-columns: 1fr 4fr 3fr; /* 3 columns, left and right are for shoulder space, middle is main */
}

#left {

}

#centre {

}

#right {

}

.banner {
    display: block;
    max-height: 20vh;
    float: right;
}

.banner img {
    /* DO NOT STRETCH THE IMAGE */
    object-fit: cover;
    max-width: 30vw;
}

.gallery-item-details {
    cursor: pointer;
}