#main {
    display: grid;
    grid-template-columns: 0.8fr 4fr 1fr; /* 3 columns, left and right are for shoulder space, middle is main */
}

#left {

}

#centre {

}

#right {
    margin-right: 2vw;
}

#game-title {
    font-size-adjust: 1.2;
}

.details-table {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

#age-rating-image {
    max-width: 50px;
    max-height: 50px;
}

h1 {

}

.banner {
    max-height: 20vh;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.banner img {
    /* DO NOT STRETCH THE IMAGE */
    max-width: 100%;
    align-self: center;
}

.gallery-item-details {
    border-radius: 20px;
    align-items: center;
    text-align: center;
}

.gallery-item-details a {
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

#ratings-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#ratings-cards li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--secondary-background);
    border-radius: 8px;
    text-align: center;
    list-style-type: none;
    margin: 0 1vw;
    min-height: 10vh;
    width: 10vw;
}

#rating-graph-container {
    width: 100%;
    min-height: 40vh;
    border-radius: 10px;
    background-color: var(--secondary-background);
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
}

.rating-graph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 1vw 0 1vw;
}

/* align along the top */
.rating-graph strong {
    align-self: flex-start;
    margin: 6vh auto auto auto;
}

.rating-bar {
    margin-top: 2vh;
    background-color: var(--green-1) !important;
    width: 16vw;
    border-radius: 6px;
}

#reviews-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1vw;
}

.review {
    background-color: var(--secondary-background);
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

.review p {
    max-height: 20vh;
    overflow: scroll;
    /* Hide side scroll bar */
    scrollbar-width: none;
}