:root {
    --primary-background: #ffffff;
    --secondary-background: #f1f1f1;
    --code-normal: #cccccc;
    --code-yellow: #f5d342;
    --yellow-1: #dbb700;
    --yellow-2: #ccaa00;
    --text-black: #000000;
    --text-white: #ffffff;
    --green-1: #034320;
    --text-secondary: #ffffff;
}