.tests-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 1em;
}

.test {
    position: relative;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: 0.3em 1em 1em;
    outline: none;
    overflow: scroll;
    overflow-x: hidden;
    margin-bottom: 2vh;
    scrollbar-width: none;
}

.test-inputs input {
    float: right;
}

.test-colours {
    background-color: var(--yellow-1);
    color: var(--text-black);
    border-radius: 10px;
}

.test-colours code, pre {
    /* Fix the background to be --yellow-code */
    background-color: var(--code-yellow);
}

.test-colours .result {
    background-color: var(--yellow-2);
}

.test-colours .result a {
    color: var(--text-black);
}

.horizontal-list {
    display: flex;
    flex-direction: column;
}

.result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 0;
    width: 100%;
    max-height: 75vh;
}

.result a {
    text-decoration: none;
    margin-left: 6vw;
}

.result .creator {
    display: inline-grid;
    align-items: center;
    overflow-x: hidden;
    padding-left: 6vw;
}

.result .creator img {
    max-height: 20vh;
    margin-right: 0.5em;
}

.class-test-group {

}

.grid {
    display: grid;
    grid-gap: 6em;
    grid-template-columns: repeat(2, 1fr);
}

.class-test {
    position: relative;
    display: inline-grid;
    width: 100%;
    border-radius: 10px;
    padding: 0.3em 1em 1em;
    outline: none;
    max-height: 50vh;
    overflow: scroll;
    overflow-x: hidden;
    margin-bottom: 2vh;
    scrollbar-width: none;
}

.required {
    color: red;
}