.tests-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 1em;
}

.test {
    position: relative;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    border-radius: 10px;
    padding: 0.3em 1em 1em;
    outline: none;
    background-color: var(--yellow-1);
    max-height: 50vh;
    overflow: scroll;
    overflow-x: hidden;
    margin-bottom: 2vh;
    /* Hide the scrollbar */
    scrollbar-width: none;
}

.test code, pre {
    /* Fix the background to be --yellow-code */
    background-color: var(--code-yellow);
}

.horizontal-list {
    display: flex;
    flex-direction: column;
}

.result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 0;
    width: 100%;
    background-color: var(--yellow-2);
}

.result a {
    color: black;
    text-decoration: none;
    margin-left: 6vw;
}

.result .creator {
    display: inline-grid;
    align-items: center;
    overflow-x: hidden;
    padding-left: 6vw;
}

.result .creator img {
    max-height: 20vh;
    margin-right: 0.5em;
}