{% extends "tests/_tests_base.html" %}

{% block scripts %}
    {{ super() }}
    <script defer src="{{ url_for("static", filename="js/tests/creatorDeveloper.js") }}"></script>
{% endblock %}

{% block apiTests %}
    <div id="get-list" class="test test-colours">
        <div>
            <h3>Get List</h3>
            <p>Get a list of all the {{ testType.lower() }}s.</p>
            <div>
                <div>
                    <label for="list-page">Page Number (<code>page</code>)</label>
                    <input type="number" id="list-page" name="list-page" value="1" min="1"><br>
                </div>
                <div>
                    <label for="list-page-size">Page Size (<code>page_size</code>)</label>
                    <input type="number" id="list-page-size" name="list-page-size" value="5" min="1" max="25"><br>
                </div>
                <button onclick="getList('{{ testType.lower() }}');">Run Test</button>
            </div>
        </div>
        <div class="horizontal-list">
            <h4>Response</h4>
            <div id="get-list-response"></div>
        </div>
    </div>
    <div id="get-details" class="test test-colours">
        <div>
            <h3>Get Details</h3>
            <p>Get details of one specific {{ testType.lower() }}.</p>
            <div>
                <div class="parameter">
                    <label for="details-id">{{ testType.title() }} Id (<code>id</code>)</label>
                    <input type="text" id="details-id" name="details-id"><br>
                </div>
                <button onclick="getDetails('{{ testType.lower() }}');">Run Test</button>
            </div>
        </div>
        <div>
            <h4>Response</h4>
            <div id="get-details-response"></div>
        </div>
    </div>
{% endblock %}

{% block classTests %}
    <div id="get-list-class" class="class-test test-colours">
        <div>
            <h3>Get List</h3>
            <p>Get a list of all the {{ testType.lower() }}s.</p>
            <div>
                <div>
                    <label for="list-page-class">Page Number (<code>page</code>)</label>
                    <input type="number" id="list-page-class" name="list-page-class" value="1" min="1"><br>
                </div>
                <div>
                    <label for="list-page-size-class">Page Size (<code>page_size</code>)</label>
                    <input type="number" id="list-page-size-class" name="list-page-size-class" value="5" min="1" max="25"><br>
                </div>
            </div>
            <button onclick="getListClass('{{ testType.lower() }}');">Run Test</button>
        </div>
    </div>
    <div id="get-details" class="class-test test-colours">
        <div>
            <h3>Get Details</h3>
            <p>Get details of one specific {{ testType.lower() }}.</p>
            <div>
                <div class="parameter">
                    <label for="details-id-class">{{ testType.title() }} Id (<code>id</code>)</label>
                    <input type="text" id="details-id-class" name="details-id-class"><br>
                </div>
                <button onclick="getDetailsClass('{{ testType.lower() }}');">Run Test</button>
            </div>
        </div>
    </div>
{% endblock %}
