{% extends "_base.html" %}
{% block title %}{{ testType.title() }} Tests{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="static/css/tests.css">
{% endblock %}

{% block scripts %}
    <script defer src="static/js/tests/utils.js"></script>
    <script defer src="https://cdn.jsdelivr.net/gh/pgrabovets/json-view@master/dist/jsonview.js"></script>
{% endblock %}

{% block content %}
    <section id="main" class="grid-margins">
        <div id="left"></div>
        <div id="centre">
            <h1>{{ testType.title() }} Tests</h1>
            <p>Test <code>{{ testType.lower() }}</code> endpoints.</p>
            {% if error %}
                <h2>An error occurred:</h2>
                <div class="error">{{ error }}</div>
            {% endif %}
            <div id="tests">
                <div id="direct-api-tests" class="tests-group">
                    <h2>Direct API Tests</h2>
                    <div>
                        {% block apiTests %}{% endblock %}
                    </div>
                </div>
                <div id="api-class-tests" class="class-test-group">
                    <h2>API Class Tests</h2>
                    <div class="grid">
                        {% block classTests %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div id="right"></div>
    </section>
{% endblock %}
