{% extends "_base.html" %}

{% block title %}Creator Tests{% endblock %}

{% block content %}
    <section id="main" class="grid-margins">
        <div id="left"></div>
        <div id="centre">
            <h1>Creator Tests</h1>
            <div id="get-list">
                <h2>Get List</h2>
                <p>Get a list of all the creators.</p>
                <form action="" method="get">
                    <input type="submit" value="Get List">
                </form>
            </div>
        </div>
        <div id="right"></div>
    </section>
{% endblock %}