{% extends "_base.html" %}

{% block title %}Tests{% endblock %}

{% block content %}
    <section id="main" class="grid-margins">
        <div id="left"></div>
        <div id="centre">
            <h1>Available Testing Endpoints</h1>
            <div class="gallery">
                <div class="gallery-item" id="creator">
                    <a href="{{ url_for("tests.creator") }}">
                        <h2>Creator</h2>
                    </a>
                </div>
                <div class="gallery-item" id="developer">
                    <a href="{{ url_for("tests.developer") }}">
                        <h2>Developer</h2>
                    </a>
                </div>
                <div class="gallery-item" id="game">
                    <a href="{{ url_for("tests.game") }}">
                        <h2>Game</h2>
                    </a>
                </div>
                <div class="gallery-item" id="genre">
                    <a href="{{ url_for("tests.genre") }}">
                        <h2>Genre</h2>
                    </a>
                </div>
                <div class="gallery-item" id="platform">
                    <a href="{{ url_for("tests.platform") }}">
                        <h2>Platform</h2>
                    </a>
                </div>
                <div class="gallery-item" id="publisher">
                    <a href="{{ url_for("tests.publisher") }}">
                        <h2>Publisher</h2>
                    </a>
                </div>
                <div class="gallery-item" id="store">
                    <a href="{{ url_for("tests.store") }}">
                        <h2>Store</h2>
                    </a>
                </div>
                <div class="gallery-item" id="tag">
                    <a href="{{ url_for("tests.tag") }}">
                        <h2>Tag</h2>
                    </a>
                </div>
            </div>
        </div>
        <div id="right"></div>
    </section>
{% endblock %}