{% extends "tests/_tests_base.html" %}

{% block scripts %}
    {{ super() }}
    <script defer src="static/js/tests/game.js"></script>
{% endblock %}

{% block apiTests %}
    <div id="get-list" class="test test-colours">
        <div>
            <h3>Get List</h3>
            <p>Get a list of all the {{ testType.lower() }}s.</p>
            <div class="test-inputs">
                <div>
                    <label for="list-page">Page Number (<code>page</code>)</label>
                    <input type="number" id="list-page" name="list-page" value="1" min="1"><br>
                </div>
                <div>
                    <label for="list-page-size">Page Size (<code>page_size</code>)</label>
                    <input type="number" id="list-page-size" name="list-page-size" value="5" min="1" max="25"><br>
                </div>
                <div>
                    <label for="list-search">Search Query (<code>search</code>)</label>
                    <input type="text" id="list-search" name="list-search"><br>
                </div>
                <div>
                    <label for="list-search-precise">Disable fuzziness for the search query. (<code>search_precise</code>)</label>
                    <input type="checkbox" id="list-search-precise" name="list-search-precise"><br>
                </div>
                <div>
                    <label for="list-search-exact">Mark the search query as exact. (<code>search_exact</code>)</label>
                    <input type="checkbox" id="list-search-exact" name="list-search-exact"><br>
                </div>
                <div>
                    <label for="list-parent-platforms">Filter by parent platforms (<code>parent_platforms</code>)</label>
                    <input type="text" id="list-parent-platforms" name="list-parent-platforms"><br>
                </div>
                <div>
                    <label for="list-platforms">Filter by platforms (<code>platforms</code>)</label>
                    <input type="text" id="list-platforms" name="list-platforms"><br>
                </div>
                <div>
                    <label for="list-platforms">Filter by platforms (<code>platforms</code>)</label>
                    <input type="text" id="list-platforms" name="list-platforms"><br>
                </div>
                <div>
                    <label for="list-stores">Filter by stores (<code>stores</code>)</label>
                    <input type="text" id="list-stores" name="list-stores"><br>
                </div>
                <div>
                    <label for="list-developers">Filter by developers (<code>developers</code>)</label>
                    <input type="text" id="list-developers" name="list-developers"><br>
                </div>
                <div>
                    <label for="list-publishers">Filter by publishers (<code>publishers</code>)</label>
                    <input type="text" id="list-publishers" name="list-publishers"><br>
                </div>
                <div>
                    <label for="list-genres">Filter by genres (<code>genres</code>)</label>
                    <input type="text" id="list-genres" name="list-genres"><br>
                </div>
                <div>
                    <label for="list-tags">Filter by tags (<code>tags</code>)</label>
                    <input type="text" id="list-tags" name="list-tags"><br>
                </div>
                <div>
                    <label for="list-creators">Filter by creators (<code>creators</code>)</label>
                    <input type="text" id="list-creators" name="list-creators"><br>
                </div>
                <div>
                    <label for="list-dates">Filter by dates (<code>dates</code>)</label>
                    <input type="text" id="list-dates" name="list-dates"><br>
                </div>
                <div>
                    <label for="list-updated">Filter by updated (<code>updated</code>)</label>
                    <input type="text" id="list-updated" name="list-updated"><br>
                </div>
                <div>
                    <label for="list-platforms-count">Filter by platforms count (<code>platforms_count</code>)</label>
                    <input type="number" id="list-platforms-count" name="list-platforms-count"><br>
                </div>
                <div>
                    <label for="list-metacritic">Filter by a metacritic rating (<code>metacritic</code>)</label>
                    <input type="text" id="list-metacritic" name="list-metacritic">
                </div>
                <div>
                    <label for="list-exclude-collection">Exclude collection (<code>exclude_collection</code>)</label>
                    <input type="number" id="list-exclude-collection" name="list-exclude-collection">
                </div>
                <div>
                    <label for="list-exclude-additions">Exclude additions (<code>exclude_additions</code>)</label>
                    <input type="checkbox" id="list-exclude-additions" name="list-exclude-additions">
                </div>
                <div>
                    <label for="list-exclude-parents">Exclude games which have additions (<code>exclude_parents</code>)</label>
                    <input type="checkbox" id="list-exclude-parents" name="list-exclude-parents">
                </div>
                <div>
                    <label for="list-exclude-game-series">Exclude games which are part of a series (<code>exclude_game_series</code>)</label>
                    <input type="checkbox" id="list-exclude-game-series" name="list-exclude-game-series">
                </div>
                <div>
                    <label for="list-exclude-stores">Exclude stores (<code>exclude_stores</code>)</label>
                    <input type="text" id="list-exclude-stores" name="list-exclude-stores">
                </div>
                <div>
                    <label for="list-ordering">Ordering (<code>ordering</code>)</label>
                    <select id="list-ordering" name="list-ordering">
                        <option value="name" selected>name</option>
                        <option value="released">released</option>
                        <option value="added">added</option>
                        <option value="created">created</option>
                        <option value="updated">updated</option>
                        <option value="rating">rating</option>
                        <option value="metacritic">metacritic</option>
                    </select>
                </div>
                <div>
                    <label for="list-ordering-reverse">Reverse the selected ordering</label>
                    <input type="checkbox" id="list-ordering-reverse" name="list-ordering-reverse">
                </div>
                <button onclick="getList();">Test Direct API</button>
                <button onclick="getListClass();">Test Class API</button>
            </div>
        </div>
        <div class="horizontal-list">
            <div>
                <h4>Response</h4>
                <button onclick="document.getElementById('get-list-response').innerText = '';">Clear</button>
            </div>

            <div id="get-list-response"></div>
        </div>
    </div>
    <div id="get-additions" class="test test-colours">
        <div>
            <h3>Get Additions</h3>
            <p>Get a list of DLC's for the game, GOTY and other editions, companion apps, etc.</p>
            <div class="test-inputs">
                <div>
                    <label for="additions-id">Game Id (<code>game_pk</code>) <span class="required">Required</span></label>
                    <input type="text" id="additions-id" name="additions-id" required><br>
                </div>
                <div>
                    <label for="additions-page">Page Number (<code>page</code>)</label>
                    <input type="number" id="additions-page" name="additions-page" value="1" min="1"><br>
                </div>
                <div>
                    <label for="additions-page-size">Page Size (<code>page_size</code>)</label>
                    <input type="number" id="additions-page-size" name="additions-page-size" value="5" min="1" max="25"><br>
                </div>
            </div>
            <button onclick="getAdditions();">Run Test</button>
        </div>
        <div class="horizontal-list">
            <h4>Response</h4>
            <div id="get-additions-response"></div>
        </div>
    </div>
    <div id="get-creators" class="test test-colours">
        <div>
            <h3>Get Creators</h3>
            <p>Get a list of individual creators that were part of the development team.</p>
            <div class="test-inputs">
                <div>
                    <label for="creators-id">Game Id (<code>game_pk</code>) <span class="required">Required</span></label>
                    <input type="text" id="creators-id" name="creators-id" required><br>
                </div>
                <div>
                    <label for="creators-ordering">Ordering (<code>ordering</code>)</label>
                    <input type="text" id="creators-ordering" name="creators-ordering"><br>
                </div>
                <div>
                    <label for="creators-page">Page Number (<code>page</code>)</label>
                    <input type="number" id="creators-page" name="creators-page" value="1" min="1"><br>
                </div>
                <div>
                    <label for="creators-page-size">Page Size (<code>page_size</code>)</label>
                    <input type="number" id="creators-page-size" name="creators-page-size" value="5" min="1" max="25"><br>
                </div>
            </div>
            <button onclick="getCreators();">Run Test</button>
        </div>
        <div class="horizontal-list">
            <h4>Response</h4>
            <div id="get-creators-response"></div>
        </div>
    </div>
    <div id="get-series" class="test test-colours">
        <div>
            <h3>Get Series</h3>
            <p>Get a list of games that are part of the same series.</p>
            <div class="test-inputs">
                <div>
                    <label for="series-id">Game Id (<code>game_pk</code>) <span class="required">Required</span></label>
                    <input type="text" id="series-id" name="series-id" required><br>
                </div>
                <div>
                    <label for="series-page">Page Number (<code>page</code>)</label>
                    <input type="number" id="series-page" name="series-page" value="1" min="1"><br>
                </div>
                <div>
                    <label for="series-page-size">Page Size (<code>page_size</code>)</label>
                    <input type="number" id="series-page-size" name="series-page-size" value="5" min="1" max="25"><br>
                </div>
            </div>
            <button onclick="getSeries();">Run Test</button>
        </div>
        <div class="horizontal-list">
            <h4>Response</h4>
            <div id="get-series-response"></div>
        </div>
    </div>
    <div id="get-parents" class="test test-colours">
        <div>
            <h3>Get Parents</h3>
            <p>Get a list of parent games for DLC's and editions.</p>
            <div class="test-inputs">
                <div>
                    <label for="parents-id">Game Id (<code>game_pk</code>) <span class="required">Required</span></label>
                    <input type="text" id="parents-id" name="parents-id" required><br>
                </div>
                <div>
                    <label for="parents-page">Page Number (<code>page</code>)</label>
                    <input type="number" id="parents-page" name="parents-page" value="1" min="1"><br>
                </div>
                <div>
                    <label for="parents-page-size">Page Size (<code>page_size</code>)</label>
                    <input type="number" id="parents-page-size" name="parents-page-size" value="5" min="1" max="25"><br>
                </div>
            </div>
            <button onclick="getParents();">Run Test</button>
        </div>
        <div class="horizontal-list">
            <h4>Response</h4>
            <div id="get-parents-response"></div>
        </div>
    </div>
    <div id="get-screenshots" class="test test-colours">
        <div>
            <h3>Get Screenshots</h3>
            <p>Get a list of screenshots for the game.</p>
            <div class="test-inputs">
                <div>
                    <label for="screenshots-id">Game Id (<code>game_pk</code>) <span class="required">Required</span></label>
                    <input type="text" id="screenshots-id" name="screenshots-id" required><br>
                </div>
                <div>
                    <label for="screenshots-page">Page Number (<code>page</code>)</label>
                    <input type="number" id="screenshots-page" name="screenshots-page" value="1" min="1"><br>
                </div>
                <div>
                    <label for="screenshots-page-size">Page Size (<code>page_size</code>)</label>
                    <input type="number" id="screenshots-page-size" name="screenshots-page-size" value="5" min="1" max="25"><br>
                </div>
            </div>
            <button onclick="getScreenshots();">Run Test</button>
        </div>
        <div class="horizontal-list">
            <h4>Response</h4>
            <div id="get-screenshots-response"></div>
        </div>
    </div>
    <div id="get-stores" class="test test-colours">
        <div>
            <h3>Get Stores</h3>
            <p>Get a list of stores where the game is available.</p>
            <div class="test-inputs">
                <div>
                    <label for="stores-id">Game Id (<code>game_pk</code>) <span class="required">Required</span></label>
                    <input type="text" id="stores-id" name="stores-id" required><br>
                </div>
                <div>
                    <label for="stores-ordering">Ordering (<code>ordering</code>)</label>
                    <input type="text" id="stores-ordering" name="stores-ordering"><br>
                </div>
                <div>
                    <label for="stores-page">Page Number (<code>page</code>)</label>
                    <input type="number" id="stores-page" name="stores-page" value="1" min="1"><br>
                </div>
                <div>
                    <label for="stores-page-size">Page Size (<code>page_size</code>)</label>
                    <input type="number" id="stores-page-size" name="stores-page-size" value="5" min="1" max="25"><br>
                </div>
            </div>
            <button onclick="getStores();">Run Test</button>
        </div>
        <div class="horizontal-list">
            <h4>Response</h4>
            <div id="get-stores-response"></div>
        </div>
    </div>
    <div id="get-details" class="test test-colours">
        <div>
            <h3>Get Details</h3>
            <p>Get details of one specific {{ testType.lower() }}.</p>
            <div>
                <div class="parameter">
                    <label for="details-id">{{ testType.title() }} Id (<code>id</code>)</label>
                    <input type="text" id="details-id" name="details-id"><br>
                </div>
                <button onclick="getDetails('{{ testType.lower() }}');">Run Test</button>
            </div>
        </div>
        <div>
            <h4>Response</h4>
            <div id="get-details-response"></div>
        </div>
    </div>
    <div id="get-achievements" class="test test-colours">
        <div>
            <h3>Get Achievements</h3>
            <p>Get a list of achievements for the game.</p>
            <div class="test-inputs">
                <div>
                    <label for="achievements-id">Game Id (<code>id</code>) <span class="required">Required</span></label>
                    <input type="text" id="achievements-id" name="achievements-id" required><br>
                </div>
            </div>
            <button onclick="getAchievements();">Run Test</button>
        </div>
        <div class="horizontal-list">
            <h4>Response</h4>
            <div id="get-achievements-response"></div>
        </div>
    </div>
    <div id="get-trailers" class="test test-colours">
        <div>
            <h3>Get Trailers</h3>
            <p>Get a list of trailers for the game.</p>
            <div class="test-inputs">
                <div>
                    <label for="trailers-id">Game Id (<code>id</code>) <span class="required">Required</span></label>
                    <input type="text" id="trailers-id" name="trailers-id" required><br>
                </div>
            </div>
            <button onclick="getTrailers();">Run Test</button>
        </div>
        <div class="horizontal-list">
            <h4>Response</h4>
            <div id="get-trailers-response"></div>
        </div>
    </div>
    <div id="get-reddit" class="test test-colours">
        <div>
            <h3>Get Reddit</h3>
            <p>Get a list of reddit posts for the game.</p>
            <div class="test-inputs">
                <div>
                    <label for="reddit-id">Game Id (<code>id</code>) <span class="required">Required</span></label>
                    <input type="text" id="reddit-id" name="reddit-id" required><br>
                </div>
            </div>
            <button onclick="getReddit();">Run Test</button>
        </div>
        <div class="horizontal-list">
            <h4>Response</h4>
            <div id="get-reddit-response"></div>
        </div>
    </div>
{% endblock %}
